<a href="https://colab.research.google.com/github/sgomezb/10k_predictor/blob/main/Proyect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df = pd.read_csv('/content/gdrive/MyDrive/10k_predictor/data/trusted/TrustedDataset.csv')
df.head()

,id,ticker,name,eva,eva_spd,mkt_cap,texto
0,1,AAPL UW,APPLE INC,80829.151310,48.159316,2.643060e+12,UNITED STATES\nSECURITIES AND EXCHANGE COMMISS...
1,2,MSFT UW,MICROSOFT CORP,36013.162230,13.581724,2.137120e+12,\nUNITED STATES\nSECURITIES AND EXCHANGE COMM...
2,3,GOOGL UW,ALPHABET INC-CL A,26391.742740,9.339334,1.348900e+12,UNITED STATES\nSECURITIES AND EXCHANGE COMMISS...
3,4,AMZN UW,AMAZON.COM INC,-8289.172578,-2.674548,1.063770e+12,Table of Contents\nUNITED STATES\nSECURITIES A...
4,5,BRK/B UN,BERKSHIRE HATHAWAY INC-CL B,-85871.047610,-12.529865,7.104520e+11,\nUNITED STATES\nSECURITIES AND EXCHANGE COM...